.zero-padding {
  padding: 0;
}

.label {
  padding: 10px;
}

.item.active {
  position: relative;
  padding-left: 30px;
}

.item.active:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  left: 5px;
  position: absolute;
  top: 10;
  color: green;
}

.item.disabled {
  pointer-events: none;
  color: #6c757d;
}

.item {
  display: block;
  padding: 10px;
  background: #ccc;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}

.question img {
  vertical-align: middle;
}

.question {
  border: 2px solid #808080;
  background: #ccc;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.select {
  position: absolute;
  right: 5px;
  top: 0;
}

.move {
  position: absolute;
  right: 30px;
  top: 0;
  cursor: pointer;
}

span.icon {
  position: absolute;
  left: 9px;
  top: 9px;
  z-index: 99999999999;
}

span.clearSearch {
  position: absolute;
  right: 9px;
  top: 9px;
  cursor: pointer;
  z-index: 99999999999;
}

#buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}
.w-100{
  width: 100% !important;
}

.input-group.searchconts {
  position: relative;
}

input#search {
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.arrow {
  position: absolute;
}

.arrow {
  position: absolute;
  top: calc(50% - 12px);
  right: 15px;
  display: none;
}

.question:hover .arrow {
  display: block;
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .item {
    display: inline-block;
    padding: 5px 10px;
    background: #ccc;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }

  .filter-row {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
  }
}

.MathJax_Display {
  display: inline !important;
} 

.morecontent span {
  display: none;
}
.morelink {
  display: block;
}
a.readmore {
  text-decoration: none;
  border: 0;
  outline: 0;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.overlay {
  position: absolute;
  height: 100%;
  background: #000;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 5px;
  opacity: 0.75;
  display: none;
}
.overlay > p {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  opacity: 1;
  color: #fff;
  font-size: 18px;
  transform: translate(-50%, 0);
}

.swal2-popup.swal2-modal.question-view.swal2-show {
  padding: 0;
}

.question-view .row.question {
margin-bottom:0;
padding:20px;

}
.question-view .container-fluid{
margin:0;
padding:0;
}
.question-view .swal2-content{
text-align:left !important;
}
.question-view h4{
color:#000;
font-weight:bold;
font-size:28px;
margin:0;
}
.question-view p.question-sub{
font-weight:bold !important;
margin:0; 
}
.br-wrapper{
text-align:center;
margin-top:20px
}
.question-content {
  max-height: 250px;
  overflow: auto;
}
.question-content-wrapper{
  overflow: hidden;
}
.pagination{
  list-style: none !important;
}
body.swal2-shown > [aria-hidden="true"] {
  filter: blur(10px);
}
.swal2-popup.question-view {
  padding : 0!important;
}
.question-view .swal2-header{
  z-index:9999;
}
.question-view .swal2-close{
  z-index:99999;
  color:#000;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  z-index: 999999999999;
  background: #fff;
}

.question h4 {
  padding-right: 30px;
}